<!DOCTYPE html>
<html>
<body id = "bodydiv">

    <!-- Include the Plaid Link initialize script on each page of your site. -->
    <!-- It should always be loaded directly from https://cdn.plaid.com, rather -->
    <!-- than included in a bundle or hosted yourself. -->
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename = 'css/styles.css')}}">
    <script src="{{url_for('static', filename = 'scripts.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.js')}}"></script>

    <div class="grid-container">
  <div class="item1">Budgetary</div>
  <div class="item2"><br>
    <button type="button" onclick="OpenTransactions()">Transactions</button><br>
    <button type="button" onclick="GetDBAccounts()">Accounts</button><br>
    <button type="button" onclick="OpenBudget()">Budget</button><br>
    <button type="button" onclick="OpenAccount()">Account</button><br>
    <button type="button" onclick="Logout()">Logout</button>
  </div>
  <div class="item3"><br>
    <div id = 'loginform'>
    <label for="myUsername">Username:</label>
  <input type="text" id="myUsername" name="myUsername"><br>
    <label for="mywidbkduqefl">Password:</label>
  <input type="password" id="mywidbkduqefl" name="mywidbkduqefl"><br>
    <button type="button" onclick="submitLogin()">Login</button>
  </div>
  <div id = "Accounts">
  <br>Accounts</br>
  <div id = "AccountsBody">
  
  </div>
  <button type="button" onclick="createAccount()">Create Account</button>
  </div>
      <p id='transactions'></p><br>
    <p id='loginoutput'></p><br>
    <p id='isLoggedIn'></p><br>
  </div>
  <div class="item5">Footer<br>
  </div>
  </div>
<script>
if (window.sessionStorage.getItem("logininfo") == null)
{
  json = '{"username" : "' + 'NULL' + '","sessionID":"' + 'NULL' + '"}';
  window.sessionStorage.setItem("logininfo", json);
}

if(GetisLoggedIn())
{
    hideDivElement('loginform')
}
else
{
    showDivElement('loginform')
}
</script>
</body>
</html>