<!DOCTYPE html>
<html>
<body>

    <!-- Include the Plaid Link initialize script on each page of your site. -->
    <!-- It should always be loaded directly from https://cdn.plaid.com, rather -->
    <!-- than included in a bundle or hosted yourself. -->
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename = 'css/styles.css')}}">
    <script src="{{url_for('static', filename = 'scripts.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.js')}}"></script>

    <div class="grid-container">
  <div class="item1">Budgetary</div>
  <div class="item2">Menu<br>
    <button type="button" onclick="GetPublicPlaid()">Launch Plaid Link</button>

    <button type="button" onclick="GetTransactionsPlaid()">Get Plaid Transactions</button>
    <button type="button" onclick="GetAccountsPlaid()">Get Plaid Accounts</button>
    <button type="button" onclick="isLoggedIn()">Get isLoggedIn?</button>
    <button type="button" onclick="UpdateAPICategories()">UpdateCategories</button>
  </div>
  <div class="item3">Main<br>
    <label for="myUsername">Username:</label>
  <input type="text" id="myUsername" name="myUsername"><br>
    <label for="mywidbkduqefl">Password:</label>
  <input type="password" id="mywidbkduqefl" name="mywidbkduqefl"><br>
    <button type="button" onclick="submitLogin()">Login</button>
  </div>  
  <div class="item4">Right</div>
  <div class="item5">Footer<br>
    <h1>Plaid</h1>

    <label>Plaid Public Token</label><br>
    <p id="publicToken"><br />
    <p id='plaidToken'></p><BR>
    <p id='plaidAccessToken'></p><br>
    <p id='transactions'></p><br>
    <p id='accounts'></p><br>
    <p id='loginoutput'></p><br>
    <p id='isLoggedIn'></p><br>
    <label>MetaData</label><br>
<textarea id='plaidMetadata2' rows='30' cols='100'></textarea>
  </div>
  </div>

</body>
</html>