<!DOCTYPE html>
<html>
<body id = "bodydiv">

    <!-- Include the Plaid Link initialize script on each page of your site. -->
    <!-- It should always be loaded directly from https://cdn.plaid.com, rather -->
    <!-- than included in a bundle or hosted yourself. -->
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename = 'css/styles.css')}}">
    <script src="{{url_for('static', filename = 'jquery.js')}}"></script>
    <script>
      var accessdata = "1";
      function GetPublicPlaid(){
            $.ajax({
                type: "GET",
                url: "/api/create_link_token",
                datatype: JSON,
                async: false,
                success: function(data){
                    //document.getElementById('plaidToken').innerHTML = JSON.stringify(data);
                    launchPlaid(data["link_token"]);
                }
            });
        }
        function launchPlaid(data) {
            public_token_manual = "";
            var formData = 
            {
                public_token: public_token_manual
            };
            const handler = Plaid.create({
                token: data,
                onSuccess: (public_token, metadata) => {
                    formData.public_token = public_token;
                    $.ajax
                    ({
                      type: "POST",
                      url: '/api/set_access_token',
                      data: JSON.stringify(formData),
                      datatype: JSON,
                      async: false,
                      success: function(data)
                      {
                        accessdata = data;
                        console.log('addend1:', accessdata);
                        return data;
                      }
                    });
                },
                onLoad: () => { },
                onExit: (err, metadata) => 
                { 
                    $.ajax
                    ({
                      type: "POST",
                      url: '/api/set_access_token',
                      data: JSON.stringify(formData),
                      datatype: JSON,
                      async: false,
                      success: function(data)
                      {
                        accessdata = data;
                        console.log('addend1:', accessdata);
                        return data;
                      }
                    });
                },
                onEvent: (eventName, metadata) => { },
                receivedRedirectUri: null,
            });
                // Calling open() will display the "Institution Select" view to your user, 
                // starting the Link flow. 
            handler.open();
        }
        function getAccessData()
        {
          console.log('addend1:', accessdata);
            return accessdata;
        }
      </script>
    <button type="button" onclick="GetPublicPlaid()">Create Account</button>
</body>
</html>