.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }

.leftitem { grid-area: topleft; }
.rightitem { grid-area: topright; }
.mainleft { grid-area: mainleft; }
.mainright { grid-area: mainright; }

.grid-container1 {
  display: grid;
  grid-template-areas:
	'topleft topleft topright topright'
	'topleft topleft topright topright'
	'mainleft mainleft mainleft mainright'
	'mainleft mainleft mainleft mainright'
	'mainleft mainleft mainleft mainright'
	'mainleft mainleft mainleft mainright'
	'mainleft mainleft mainleft mainright'
	'. . footer footer'
	'. . footer footer'
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.iframe {
width: 20%;
height:35%;
border:5;
top: 50%;
left: 50%;
text-align:center;
position:absolute;
z-index:999;
margin: -100px 0 0 -150px;
background: red;
}

.popupmenu {
width: 240px;
height:370px;
border:5;
top: 50%;
left: 50%;
position:absolute;
z-index:999;
margin: -100px 0 0 -150px;
background: red;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}